body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #f9f9ff;
            color: #333;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .container {
            text-align: center;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 8px;
            background-color: #fff;
            box-shadow: 0 4px 6px rgba(0, 0, 100, 0.1);
            transition: ease 300ms ;
        }
        .container:hover {
            transform: scale(1.15);
            box-shadow: 0 8px 10px rgba(0, 0, 100, 0.1);
        }

        h1 {
            font-size: 2rem;
            margin: 0;
            color: #2c3e5f;
        }
        p {
            margin: 10px 0;
            font-size: 1rem;
            color: #7f8c8d;
        }
        a {
            text-decoration: none;
            color: #3498db;
            font-weight: bold;
            transition: ease 200ms;
        }
        a:hover {
            text-decoration: underline;
        }

        .links {
            margin: 20px;
            position:fixed;
            bottom:10px;
            gap:40px;
            display: flex;
            padding:10px 100px;
            border-top: 1px solid #ddd;
            flex-wrap: wrap;
            justify-content: center;
        }

        .links a {
            opacity: 65%;
        }


        .links a:hover {
            color: #006bb3;
            opacity: 100%;
        }