h1 {
	font-size: 3.5rem;
	font-family: Kanit, arial, sans-serif;
	font-weight: 500 ;
	position: relative;
}
h1::after {
	content:" ";
	z-index: -2;
	position: absolute;
	height: 100px;
	width:35%;
	border-bottom: var(--accent-color-800) 4px dotted;
	border-right: var(--accent-color-800) 4px dotted;
	border-radius: 30px;
	top:50px;
	left:325px;
}

h2 {
	font-family: Kanit, arial, sans-serif;
	font-weight: 300;
	font-size: 4.25rem;
	border: 1px solid;
	display: inline;
	padding: 10px;
	background-color: var(--bg-color-200);
}