<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Website</title>
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="icon" type="image/x-icon" href="/static/icons/favicon.ico">
</head>
<body>
    <h1>Your FLASK website is ready to be developed</h1>
    <h2>This Boilerplate makes your work less and you productive </h2>
    <center>
    <img src="/static/gifs/rocket.gif">
    </center>
    <script src="/static/js/home.js"></script>
</body>
</html>