<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Website</title>
    <link rel="stylesheet" href="../static/css/403.css">
    <link rel="icon" type="image/x-icon" href="../static/icons/favicon.ico">
</head>
<body>
    <h1>Access <strong>Forbidden</strong>: 403 Error</h1>
    <section class="banner">
        4<em>0</em>3
    </section>
    <section class="btn">
        <a href={{ url_for("home") }}>
            <button>Jump To Home Page</button>
        </a>
    </section>

</body>
</html>
