<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Website</title>
    <link rel="stylesheet" href="../static/css/500.css">
    <link rel="icon" type="image/x-icon" href="../static/icons/favicon.ico">
</head>
<body>
    <h1><strong>Sorry</strong>, something went wrong!</h1>
    <section class="img-section">
        <img class="img" src="../static/images/500.png">
    </section>
    <section class="btn">
        <a href={{ url_for("home") }}>
            <button>Jump To Home Page</button>
        </a>
    </section>

</body>
</html>
