<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <title>Your Website</title>
      <link rel="stylesheet" href="../static/css/home.css" />
      <link rel="icon" type="image/x-icon" href="/static/icons/favicon.ico" />
   </head>
   <body>
      <h1>
         Your Flask project outline is ready for a
         <span>professional touch</span>
      </h1>
      <h2>
         " Streamline your development journey and <br />
         &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;unlock the power of innovation."
      </h2>
      <div class="wrapper">
         <img src="../static/images/logo.png" alt="logo" />
      </div>
   </body>
</html>
