{% extends 'layout.html' %}

{% block title %}
404 YOU GOT LOST
{% endblock%}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/404page.css') }}">
{% endblock%}


{% block content%}
<h1>404</h1>

<p>Sorry, we couldn't find this page. But don't worry you can <br> find plenty of other things on <a
                href="/">homepage</a>
</p>

<img src="{{ url_for('static',filename='images/404robot.jpg') }}" alt="404-icon" width="128px">

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quidem adipisci eum consectetur consequatur,
        doloremque facilis earum cupiditate perspiciatis illo accusamus eligendi nemo tenetur, explicabo tempora? Quis
        ex sed repellat.</p>

{% endblock%}